
<div class="card">
    <img src="@Model.Image" asp-append-version="true" alt="">
    <section class="content">
        <h3>@Model.Title</h3>
        <p>@Model.Year</p>
        <h6><span>IMDB</span>@Model.IMDbRating</h6>
    </section>
</div>
