<style>
    .flist{
        padding: 5px;
    }
    .foot{
        padding-left: 25px;
    }
</style>
<div class="footer" style="color: white;">
        <div class="footer-content">
            <div class="footer-section foot">
                <h1 class="logo-text">FILM<span>STACK</span></h1>
                <p class="foot-text">
                    Copyrights 2022
                </p>
            </div>
                <div class="footer-section2">
                    <span class="fa fa-twitter flist"></span>
                    <span class="fa fa-instagram flist"></span>
                    <span class="fa fa-facebook fa_custom flist"></span>
                </div>
        </div>
    </div>