<div class="wrapper">
        <h2 class="heading">@ViewBag.Title</h2>
        <div class="container">
            @foreach(var item in Model)
            {
            <a asp-controller="@ViewBag.Title" asp-action="FilmPage" asp-route-id="@item.Id"><partial name="~/Views/Shared/_Card.cshtml" model=@item /></a>
            }
        </div>
     </div>