@using Microsoft.AspNetCore.Mvc.ModelBinding
<tr>
	<td class="avatar"><img src="~/images/profile.jpg" width="40" height="40" border="0"></td>
	<td class="comment">
		<span class="user-name-comment">@Model.Name</span>
		<p>@Model.Comment</p>
	</td>
</tr>