<tr>
	<td class="avatar"><img src="~/images/profile.jpg" width="40" height="40" border="0"></td>
	<td class="comment">
		<form id="commentform" method="POST">
		<label for="comment"></label>
		<textarea id="name" name="name" placeholder="Enter Name" style="height:20px; width:100px"></textarea>
		<br>
		<label for="comment"></label>
		<textarea id="comment" name="comment" placeholder="Leave a comment..." style="height:50px; width:350px"></textarea>
		<br>
		<input id="btnsubmit" type="submit" value="Submit">
		</form>
	</td>
</tr>
